.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main {
    background: var(--primaryDark);

    width: 500px;
    height: auto;
    min-height: 825px;

    max-width: 100vw;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightText);
    border-radius: 2rem;
    text-align: center;
    // flex: 1;
}

.directionsRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .directionsImg1 {
        transform: scaleX(-1);
    }
}

.testButton {
    background-color: var(--primaryAccent);
    outline: none;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.categoryButton {
    background-color: var(--secondaryDark);
    opacity: 0.5;
    outline: none;

    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 0.25rem;
    border: 2px solid var(--primaryAccent);
}

.categoryEnabled {
    // background-color: var(--primaryAccent);
    opacity: 1;
}

.directionsList {
    .directionItem {
        margin: 1rem;
    }
}

.testButtonDiv {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.testListDiv {
    display: flex;
    gap: 1rem;
}

.testButtonListStates {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testButtonList {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Adjust the size as needed
    // gap: 1.5rem;
    // margin-top: 4rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;
    margin-top: 2rem;
}

.statesTitle {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.footer {
    margin-top: auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    bottom: 0;
    width: 100%;

    img {
        border-radius: 50%;
    }
}

@media (max-width: 575.98px) {
    .main {
        margin: 0px;
        border-radius: 0;
    }

    // .testButton {

    //     font-size: 1rem;
    // }

    // .categoryButton {
    //     font-size: 1rem;
    // }
}