.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main {
    background: var(--primaryDark);
    width: 500px;
    height: 700px;
    max-width: 100vw;
    max-height: 100vh;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightText);
    border-radius: 2rem;
    display: flex;

}

.test {
    height: 60vh;
    width: 500px;
    max-width: 95vw;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-block: 1rem;
    // background-color: #0079FF;
    border-radius: 4%;
    color: var(--lightText);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .backDiv {
        display: flex;
        // align-self: start;
        gap: 0.75rem;
        margin-bottom: 2rem;
        cursor: pointer;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}




// .input {
//     flex: 1;

//     /* To make room for the button */
// }

.input {
    height: 3rem;
    width: 14rem;
    font-size: 1.75rem;
    caret-color: var(--primaryAccent);
    caret-shape: underscore;
    padding: 1rem 40px 1rem 1rem;
    outline: none;
    border: 2px solid var(--secondaryDark);
    /* Add a custom border */
    border-radius: 0.5rem;

    /* Add custom focus styles */
    &:focus {
        border-color: #3c401a;
        /* Change border color on focus */
        box-shadow: 0 0 5px rgba(60, 64, 26, 0.6);
        /* Optional: subtle glow */
    }

}

.word {
    color: black;
}

.btn {
    margin-top: 1rem;
    color: white;
    background-color: var(--primaryAccent);
    border-color: transparent;
    border-radius: 1rem;
    width: 11rem;
    height: 3rem;
    font-size: 1.75rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nextBtn {
    color: var(--lightText);
    background-color: var(--primaryAccent);
    border-color: transparent;
    border-radius: 1rem;
    width: 8rem;
    height: 3rem;
    margin-block: 1rem;
    font-size: 10px;
    cursor: pointer;

    .nextIcon {
        font-size: 30px;
    }
}



.repeatBtn {
    color: var(--lightText);
    background-color: var(--primaryAccent);
    border-color: transparent;
    border-radius: 1rem;
    width: 4rem;
    height: 3rem;
    margin-block: 0rem;
    font-size: 10px;

    cursor: pointer;

    .repeatIcon {
        font-size: 25px;
    }
}

.subtitle {
    margin-block: 1rem;

}



.micButton {
    position: relative;
    // right: 40px;
    // background: none;
    height: 6rem;
    width: 6rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    // background-color: #FF0060;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 14rem;
}

.clearButton {
    // color: var(--lightText);
    color: var(--secondaryDark);
    position: relative;
    transform: translateX(-33px);
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer {
    margin-top: auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    bottom: 0;
    width: 100%;

    .imgDiv {
        border: 1px solid var(--primaryDark);
        // padding: 0.5rem;
    }

    img {
        // transform: scaleX(-1);
        border-radius: 50%;

    }
}

.score {
    font-size: 22px;
}

.persmissionsDiv {
    font-size: 18px;
    margin-bottom: 4rem;
}

@media (max-width: 575.98px) {
    .main {
        margin: 0px;
        border-radius: 0;
    }
}